footer{
    background-color: #a82d49;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    height: 200px;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
} 

footer ul li{
    margin-right: 20px;
}

footer span{
    font-size: 12px;
}