.faq{
    padding: 170px 0 80px 0;
    font-family: 'Quicksand', sans-serif;
}


.faq h2{
    text-align: center;
    margin-bottom: 80px;
    color: #43121d;
    font-size: 35px;
    font-weight: bold;
}

.faq h6{
    color: #43121d;
    font-size: 18px;
    font-weight: bold;
}

.faq p, .hurry p{
    color: #777;
    line-height: 1.6
}


.cover{
    background: url('../../pics/cover.jpg') center no-repeat fixed;
    background-size: cover;
    max-width: 100%;
    height: 200px;
    z-index: 9999;
    position: relative;
    
}

.cover h3{
    color:#fff;
    margin-top: 70px;
    position: absolute;
    top: 15px;
}

.cover button{
    margin-top: 70px;
    display: block;
    background-color:#a82d49 ;
    color: #fff;
    border: 3px solid #a82d49;
    padding: 6px 25px;
    font-weight: bold;
    position: absolute;
    top: 15px;
}

@media (max-width:992px){
    .cover button {top: 80px;left: 60px;}
}


.cover button:hover{
    color: #a82d49 ;
    background-color: transparent;
    transition: all .5s;
}

.cover .overlay{
    background-color: #000;
    opacity: .5;
    height: inherit;
    
    
}

.hurry{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 100px 0;
}

.hurry h2{
    color: #43121d;
    font-size: 35px;
    font-weight: bold;
}

.hurry p{
    margin: 30px 0;
}

.hurry button{
    margin-left: 30px;
    background-color:#a82d49 ;
    color: #fff;
    border: 3px solid #a82d49;
    padding: 6px 25px;
    font-weight: bold;
    margin-top: 30px;
}

.hurry input{
    padding: 8px 12px;
    width: 350px;
    color: #333;
    border: 2px solid rgb(212, 210, 210);
    outline: none;
}

.hurry input::placeholder{
    color: rgb(110, 109, 109);
    font-weight: bold;
    font-size: 15px;
}


